/* General Wrapper */
.AllPatientsComponent-wrapper {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .AllPatientsComponent-title {
    text-align: center;
    color: #2c3e50;
    margin-bottom: 20px;
  }
  
  .AllPatientsComponent-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .AllPatientsComponent-error {
    color: red;
    text-align: center;
  }
  
  /* Each Appointment Item */
  .AllPatientsComponent-item {
    margin-bottom: 20px;
    display: block;
  }
  
  .AllPatientsComponent-card {
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
  }
  
  .AllPatientsComponent-card:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  }
  
  .AllPatientsComponent-avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 20px;
    object-fit: cover;
    float: left;
  }
  
  /* Patient Info */
  .AllPatientsComponent-info {
    margin-left: 100px;
  }
  
  .AllPatientsComponent-name {
    font-size: 1.5em;
    margin: 0;
    color: #3498db;
  }
  
  .AllPatientsComponent-email {
    color: #7f8c8d;
    margin-bottom: 10px;
  }
  
  /* Appointment Details */
  .AllPatientsComponent-appointmentDetails p {
    margin: 5px 0;
  }
  
  .AllPatientsComponent-appointmentDetails strong {
    color: #2c3e50;
  }