/* SignUp.css */

.signup-container {
  display: flex;
  width: 90%;
  height: 90vh;
  margin: 0; /* removed auto */
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.welcome-back {
  flex: 1;
  background-color: #3498db;
  color: white;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.welcome-title {
  font-size: 28px;
  margin-bottom: 20px;
}

.welcome-text {
  font-size: 16px;
  margin-bottom: 30px;
  max-width: 80%;
  color: white;
}

.sign-in-button {
  background-color: transparent  /* #F1C40F */ /* #34495E */;
  border: 2px solid white;
  color: white;
  padding: 12px 0;
  width: 40%;
  border-radius: 25px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.sign-in-button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.signup-form-container {
  flex: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signup-title {
  font-size: 24px;
  color: /* #3498db */ #34495E;
  margin-bottom: 20px;
  text-align: center;
}

.social-signup {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.social-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  cursor: pointer;
  font-weight: bold;
}

.signup-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.form-group {
  width: 65%;
  margin-bottom: 20px;
  position: relative;
}

.form-input {
  width: 100%;
  padding: 10px 40px 10px 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.input-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  color: #3498db;
}

.signup-button {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 12px 0;
  width: 40%;
  border-radius: 25px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
  margin-top: 20px;
}

.signup-button:hover {
  background-color: #2980b9;
}

.error-text {
  color: #e74c3c;
  margin-top: 10px;
}